extends layout

block content
  script(src="https://js.stripe.com/v3/")
  +editProfileModal()
  +deleteAccountModal()
  +manageAccountModal()
  +downgradeAccountModal()
  script(src="js/subscriptions.js")
  #wrapper
    .content-header
      h1 Profile
      .content-menu
        ul
          if user.stripeSubscription
            li
              a.manageAccountModal--trigger Update Card
            li
              a#downgradeAccountModal--trigger Downgrade Account
          else
            li
              a.manageAccountModal--trigger Upgrade Account
    .content-body
      h2 Name
      p= user && user.name
      hr
      h2 Email Address
      p= user && user.email
      hr
      h2 Bio
      p= user && user.bio
      hr
      h2 Location
      p= user && user.location && user.location.address
      if user.stripeSubscription
        hr
        h2 Subscription
        p= user.stripeCustomer
        p= user.stripeSubscription
        p= subscription.status
        p= source.last4
        p= source.brand
        p Expires #{source.exp_month}/#{source.exp_year}
      hr
      button#editProfileModal--trigger.nm Edit Profile
      button#deleteAccountModal--trigger.neg.ml.nm Delete Account
      
