extends layout

block content
  +editProfileModal()
  +deleteAccountModal()
  #wrapper
    .content-header
      h1 Profile
      .content-menu
        ul
          li
            a#editAccountModal--trigger Upgrade Account
    .content-body
      h2 Name
      p= user && user.name
      hr
      h2 Email Address
      p= user && user.email
      hr
      h2 Bio
      p= user && user.bio
      hr
      h2 Location
      p= user && user.location && user.location.address
      hr
      h2 Subscription
      p= user.stripeCustomer || 'None'
      p= user.stripeSubscription || 'None'
      p= subscriptionStatus || 'None'
      hr
      script(src="https://js.stripe.com/v3/")
      form(action="/plan-management/upgrade-account" method="POST" id="payment-form")
        .form-row
          label(for="card-element") Credit or Debit Card
          #card-element
          #card-errors(role="alert")
          button(type="submit") Submit Payment
      hr
      button#editProfileModal--trigger.nm Edit Profile
      button#deleteAccountModal--trigger.neg.ml.nm Delete Account
      
