extends layout

block content
  +newCommunityModal()
  #wrapper
    .content-header
      h1= title
      .content-menu
        ul
          li
            a(href="/communities/") My Communities
          li
            a(href="/communities/all") All Communities
          li
            a(href="") Find Communities
          li
            a#createCommunityModal--trigger Create a Community
      .clear
    .content-body
      .communities
        - let communityToEdit = ''
        each community in communities            
          .community
            .modal-wrapper(id=`edit${community._id}CommunityModal`)
              .modal-container
                .modal
                  .modal-header
                    h2 Edit #{community.name}
                  .modal-body.community-form
                    form(action=`/communities/${community._id}/edit` method="POST")
                      label(for="Name") Name
                      input(type="text" name="name" value=(community && community.name) autocomplete="off" placeholder="Community Name")
                      p.helper
                        small Choose a unique, descriptive name.
                      label(for="Description") Description
                      textarea(name="description" rows="3" placeholder="Community Description")= community && community.description
                      p.helper
                        small Describe the specific local context or community.
                      label(for="Location") Location
                      input(type="text" value=(community && community.location.address) disabled)
                      p.helper
                        small Communities don't relocate. Location cannot be edited.
                      label(for="Admission") Admission
                      select(name="private")
                        if community && community.private == true
                          option(value="true") Private (Invitation only)
                          option(value="false") Public (Anyone may request to join)
                        else
                          option(value="false") Public (Anyone may request to join)
                          option(value="true") Private (Invitation only)
                      p.helper
                        small Choose a way users will join.
                      button.submit(type="submit") Save Changes
                      button.ind.ml.cancel(type="button") Cancel
            .left
              a(href=`/communities/${community.slug}`)
                h2= community.name
              p= community.description.split(' ').slice(0, 25).join(' ')
              p.location= community.location.address
                i.fa.fa-map-marker
            .right
              - if (f.isAdmin(user, community))
                button(id=`edit${community._id}CommunityModal--trigger`) Edit
              - if (f.isMember(user, community))
                a(href=`/communities/${community.slug}/`)
                  button.ind Open
              - else
                if community.private == false
                  form(action=`/communities/${community._id}/join` method="POST")
                    button(type="submit") Join
                  a(href=`/communities/${community.slug}`)
                    button.ind.ml(type="submit") View
                else
                  a(href="")
                    button.pos Request to Join
          .clear
          .details
          script.
            communityToEdit = "#{community._id}"
          script(src="/js/ecmc.js")
          script.
            editCommunityModalControl(communityToEdit)
        
  script pageVar = '.p-communities';
